<p>Hello!</p>
<p>Another Contractor on Leveled℠Pro has invited you to join a project as a Homeowner.</p>
<p>
  Because you already have an account as a Contractor, you’ll need to create a new account as a Homeowner using a different email.
</p>
<p>Thanks,</p>

<p>Leveled℠Pro Team</p>
