<p>Dear <%= @user.full_name || @user.email %>,</p>
<% reset_password_token =  @user.send(:set_reset_password_token) %>
<p>
  To reset your password, please click on the link below.
</p>
<p>
  <a href="<%= hyperlect_app_url(mode: 'reset_password', reset_password_token: reset_password_token) %>">Reset my password</a>
</p>
<p>
  If you did not make this request, please contact us at <%= link_to 'support@LeveledPro.com', 'mailto:support@LeveledPro.com' %>.
</p>

<p>
  Thank you for using Leveled Pro!
</p>
