<h3>POST /api/password</h3>
<div>
  forgot password
</div>
<b>Resource URL </b>
<div>
http://localhost:3000/api/password
</div>
<b>Example request</b>
<div>
curl --data "email=baovt99@gmail.com" "http://localhost:3000/api/password"
</div>
<h4> Parameters</h4>
<table border="1" style="width:100%">
  <tr>
    <th style='width: 200px'> Name </th>
    <th style='width: 100px'>Required</th>
    <th style='width: 100px'>Data type</th>
    <th>Description</th>
  </tr>

  <tr>
    <td>email</td>
    <td>Y</td>
    <td>String</td>
    <td>Email</td>
  </tr>
</table>

<h4>Response </h4>
<div>
 a json object
</div>
<h4>sample response</h4>
<table border="1" style="width:100%">
  <tr>
    <td>
      {"user":{"id":3},"message":"An email is sent"}
    </td>
  </tr>
  <tr>
    <td>
      {"error":{"code":10404,"message":"User was not found"}}
    </td>
  </tr>
</table>
